body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  color: #333; /* Text color */
}

.container {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #444; /* Heading color */
}

form {
  margin-bottom: 20px;
}

input, button {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid  #ddd; /* Border color */
  border-radius: 4px; /* Rounded corners */
}

input {
  background-color: #fff; /* Input background */
  color: #333; /* Input text color */
}

button {
  background-color: #007bff; /* Button background */
  color: black; /* Button text color */
  border: none; /* Remove border */
  cursor: pointer; /* Pointer cursor on hover */
}

button:hover {
  background-color: #0056b3; /* Darker button background on hover */
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border: 1px solid #ddd; /* Border color */
  margin-bottom: 10px;
  background-color: #f9f9f9; /* List item background */
}

.schedule {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd; /* Border color */
  background-color: #f9f9f9; /* Schedule background */
}
